body{
	background-image: url(background.png);
	width: 100%;
	height: 93%;
	padding: 0;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
	background-size: cover; 
}

#wrapper {
	overflow:hidden;overflow-y:auto;
	height: 100%;
}

#img_logo{
    display:block;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 35px;
	width: 200px
}

#main {
	height: 70%;
	width:800px;
	margin-left: 15%;
	margin: auto;
	animation: fadein 2s;
}
#mf {
	color: #CB1A1A;
	text-decoration: none;
}
#fotospan {
	display: block;
	font-weight: bold;
	width: 100%;
	text-align: center;
	margin-top: 25px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#overlay{
	background-color: a66fa6;
	width: 100%;
	height: 100%;
	position: absolute;
	left:0;
	top:0;
	z-index: -1;
	opacity: 0.3;
}

.menu_item{
	width: 25%;
	float: left;
	color: white;
	font-family: sans-serif;
	font-size: 1.4em;
	text-decoration: none;
	text-align: center;
	margin: auto;
	padding-top: 12px;
}

.menu_item:hover{
	opacity: 0.5;
	cursor: pointer;

}

#wrapper {
	width: 500px;
}

p {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 10px;
}

#content {
	background-color: white;
	height: 90%;
	width: 100%;
}

#promo_img{
	margin-top: 20px;
	margin-left: 20px;
	width: 250px;
}

#promo_text{
	margin-left: 25px;
	margin-top: 5px;
	width: 250px;
	text-align: center;
}

h1 {
	margin: auto;
	text-align: center;
	padding-top: 10px;
}

#menu {
	height: 50px;
	background-color: #fdeb96;
}

#images {
	position: relative;
	top: 0px;
	width: 290px;
	margin: 0px;
	float: right;
	height: 100%;
}

#text {
	float: left;
	height: 100%;
	margin: 0px;
	padding-right: 5px;
	border-right: dashed black 1px;
}