body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#main{
	margin-left: 37vw;
	width: 26vw;
	height: 100vh;
}

@font-face {
  font-family: 'Kabel Bold';
  /* src: url('webfont.eot'); IE9 Compat Modes */
  src: url('kabelbold.woff') format('woff');
}

@font-face {
      font-family: 'fontello';
      src: url('./font/fontello.eot?82554256');
      src: url('./font/fontello.eot?82554256#iefix') format('embedded-opentype'),
           url('./font/fontello.woff?82554256') format('woff'),
           url('./font/fontello.ttf?82554256') format('truetype'),
           url('./font/fontello.svg?82554256#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
}

#heading{
	width: 100%;
	text-align: center;
	padding-top: 19.5%;
	font-family: "Kabel Bold";	
	font-size: 6.5vw;
	padding-bottom: 0.7%;
}

#picture{
	padding-bottom: 2%;
}
#crossfader{
	position: relative;	
	height: 17.33vw;
	width: 499.19px;
}
#crossfader img {
	-webkit-backface-visibility: hidden;
	width: 26vw;
	position: absolute;
	opacity: 0;
	transition: opacity 1s;
}

#crossfader .active {
	opacity: 1;
}

#text2{
	width: 100%;
	text-align: center;
	font-family: "Kabel Bold";	
	font-size: 1.8vw;
	padding-bottom: 6%;
}

#text3{
	width: 100%;
	text-align: center;
	font-family: "Open sans";	
	font-size: 1vw;
	padding-bottom: 1%;
}

#text4{
	width: 100%;
	text-align: center;
	font-family: "Open sans";	
	font-size: 1vw;
	padding-bottom: 6%;
}

a{
	color: white;
}

i{
	display: inline-block;
	font-style: normal;
	text-align: center;
	background-color: #171216;
	padding: 2.3%;
	width: 1.8vw;
	-webkit-border-radius: 10000000000000000px;
	-moz-border-radius: 10000000000000000px;
	border-radius: 10000000000000000px;
}

#icons{
	font-family: "fontello";
	font-style: normal; 
	color: white;
	font-size: 1.8vw;
	text-align: center;
}

#actual-icons{
	display: inline-block;
	margin: auto;
	width: 100%;
}

#blankspace {
	display: inline-block;
	width: 0.6vw;
}